{% extends "account/base.html" %}
{% block title %}WeSeeU | Login{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Login form -->
<div id="logout" class="container container-wrapper">
  <div class="container content-container box">
      <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
          </div>
      </div>
      <div>
          <section class="logout">
              <div class="row">
                  <div class="col-12 page-header">
                      <h2 class="text-uppercase">Log in</h2>
                      <hr class="block-divider block-divider--short block-divider--white">
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <div class="logout">
                          <p>
                            {% blocktrans %}Don't have an account yet?
                            <a href="{{ signup_url }}" class="text-dark"><u>Sign up</u></a>.{% endblocktrans %}
                          </p>
                          <form class="login" method="POST" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-info submit" type="submit">{% trans "Log In" %}</button>
                            <a class="btn btn-outline-dark" href="/">Cancel</a>
                          </form>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
<!-- Login form -->

{% endblock %}