{% extends "base.html" %}
{% block title %}WeSeeU | Log out{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}



<!-- Log out -->
<div id="logout" class="container-wrapper">
    <div class="container content-container">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
            </div>
        </div>
        <div class="container-box">
            <section class="logout">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="text-uppercase">Log out</h2>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="logout">
                            <p>
                                Are you sure you want to log out?
                            </p>
                            <form class="logout" method="POST" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button class="btn btn btn-outline-dark m-2 submit" type="submit">{% trans 'Log Out' %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Log out -->


{% endblock %}