body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*container */

.callout-container {
    height: 100vh;
    background: url('/static/images/bg-image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-service {
    background-color: #D2D1D1;
    height: 100vh;
}

.container-contact {
    height: 100vh;
}

.container-about {
    height: 100vh;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-box {
    background-color: rgba(255, 255, 255, .6);
    padding: 5px;
    border-radius: 5px;
}

.container-wrapper {
    padding-top: 40px; 
    padding-bottom: 60px;
}

.container-color {
    background-color: #c9c5c3
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
}

.card-img-top {
    height: 100;
    width: 100;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
    font-size: 3rem;
    padding: 20px;
    border-radius: 25px;
    text-transform: uppercase;
}


.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 80%;
    font-style: italic;
    color: #D2D1D1
}

/* Mark */

mark 
{
    background-color: #D2D1D1;
    border-radius: 5px;
}

/* Box */
.box
{
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
}

/*background - about*/
.background-images {
    height: 100vh;
    background: url('/weseeu/static/images/startup-g7c44dca4e_1280.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Date time */

.datetimefield 
{
    max-width: 170px;
}

/* */
.errorlist {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}


/* Footer */
.footer-container
{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.footer-container .text-center.p-1 a 
{
    color: black;
}

