{% load static %}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Weseeu | We see you, and hear you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="container-fluid navalert-container">
        
        <nav class="navbar navbar-dark navbar-expand-sm">
            <a href="/" class="navbar-brand"></a>

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <img src="{% static 'images/2.png' %}" alt="logo">
                <ul class="navbar-nav mr-auto">
                    <li class="active nav-item mr-2"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="/booking">Bookings</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="/booking/add">New booking</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="/booking/profile">My profile</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
                    {% else %}
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'account_login' %}">Sign In / Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-none d-md-block">
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="btn btn-success">Sign Out</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-success">Sign In / Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </div>

    <!-- Services -->
    <div id="services" class="container-wrapper">
        <div class="container container-services content-container">
            <section class="services">
                <div class="row">
                    <div class="col-12 page-header">
                        <br>
                        <h2 class="text-uppercase">My bookings:</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Confirmed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <th scope="row">{{ booking.id }}</th>
                                    <td><a href="/booking/edit/{{ booking.id }}">{{ booking.service.name }}</a> </td>
                                    <td>{{ booking.startdate|date:'Y-m-d H:i' }}</td>
                                    <td>{{ booking.enddate|date:'Y-m-d H:i' }}</td>
                                    <td>{{booking.confirmed|date:'Y-m-d H:i'|default:"Not confirmed"}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">You have no bookings</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="/booking/add" class="btn btn-secondary">Add Booking</a>
            </section>
    <!-- /.Services -->
        </div>
    </div>

    <!-- Contact -->
    <div id="contact" class="container-wrapper">
        <div class="container contaibner-contact content-container">
            <section class="contact">
                <div class="row">
                    <div class="col-12 page-header">
                        <h4>We are here for you if there are any problems. <br>
                        Feel free to contact us if there is be any problem:</h4>
                        <div class="row">
                            <div class="col">
                                <form id="form" name="form" method="get" action=" ">
                                    <label for="name" class="form-label"><br>Name:</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" required/>
                                    <label for="epost" class="form-label"><br>E-mail:</label>
                                    <input type="text" class="form-control" name="epost" id="epost" placeholder="Enter e-mail" required/>
                                    <label for="message" class="form-label"><br>Message:</label>
                                    <textarea class="form-control" name="message" id="message" cols="100" rows="5" ></textarea>
                                    <input type="submit" class="btn btn-info" name="send" id="send" value="Send" />
                                </form>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="about">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="about">
                        </div>
                    </div>
                </div>
            </section>
    <!-- /.Contact -->
        </div>
    </div>
    <footer class="footer-container">
        <div class="text-center p-1" style="background-color: #D2D1D1;">
           <p class="text-black"> © 2023 Sara Mentzer. Only for educational purpose.</p>
           <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3"></i></a>
           <a href="https://www.twitter.com/"><i class="fab fa-twitter-square ms-3"></i></a>
           <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3"></i></a>
           <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3"></i></a>
    <!-- Copyright -->
    </footer>
</body>
</html>