{% load static %}

<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Weseeu | We see you, and hear you</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">   
        (function(){      
            emailjs.init("l-2Vinb9Tmnd3_5Cz")
            })();
    </script>
</head>

<body>
    <div class="container-fluid navalert-container">
        <nav class="navbar navbar-dark navbar-expand-sm">

            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <img src="{% static 'images/2.png' %}" alt="logo">
                <ul class="navbar-nav mr-auto">
                    <li class="active nav-item mr-2"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="#contact">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mr-2"><a class="nav-link" href="/booking">Booking</a></li>
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'account_logout' %}">Sign out</a></li>
                    {% else %}
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'account_login' %}">Sign In / Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-none d-md-block">
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}" class="btn btn-success">Sign Out</a>
                {% else %}
                <a href="{% url 'account_login' %}" class="btn btn-success">Sign In / Sign Up</a>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="container-fluid callout-container">
        
        <!-- Callout -->
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center">
                    <h1 class="jumbotron-header">Digital assistance. <p></p> As an employee but without the risk and cost of one.</h1>
                    <hr class="block-divider block-divider--orange">
                    <p class="lead">Sign up and make your first booking right now!
                        <s class="d-none d-sm-inline"> €50.00 / hour</s>
                        <span class="d-inline d-sm-none"><br></span>
                        <strong><mark>€45.00 / hour</mark></strong>
                    </p>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="/accounts/login/" class="btn btn-lg btn-success">Sign Up!</a>
                    {% endif %}
                </section>
            </div>
        </div>
        <!-- /.callout -->
    </div>


        <!--/.Feature-services-->

    <div id="services" class="container-wrapper container-color">
        <div class="container features-container content-container">
            <section class="features">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="text-uppercase">What we can do for you:</h2>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/Eko-admin1.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Economy & admin</h3>
                            <ul>
                                <li>We can support you whit that economy you dont want to handle. We offer support on many different things when it comes to economy. And for you administrations that just take time from your things you really wanna do, we suppiort that to!</li>
                                <li>We can easily familiarize ourselves with your financial flow.</li>
                                <li>We can easily familiarize ourselves with your financial flow.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/marketing1.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Marketing</h3>
                            <ul>
                                <li>We can provide you with communications to costumer, write on social media and coash and support you whit all sale info you need to do.</li>
                                <li>Write on social media </li>
                                <li>coash and support you whit all sale info you need to do.</li>
                                <li>Scale up your company by SEO and marketing solutions</li>
                                <li>Scale up your company by SEO</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/IT-sulotion.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Soultions</h3>
                            <ul>
                                <li>company now need to update their IT sulotions to reach out to their costumers, but many company dosent know how to do it. We provide you whit the higest expertice in this things! We can computers</li>
                                <li>If you need someone to administratet your </li>
                                <li>Fullstack devolopemnt and teaching out to your emplyeds</li>
                                <li>Set up new dataenvoirements</li> 
                                <li>Handle your support questions</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.features -->
        </div>
    </div>

    <!-- About -->
    <div id="about" class="container-wrapper">
        <div class="container content-container">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                </div>
            </div>
            <div class="container-box">
                <section class="about">
                    <div class="row">
                        <div class="col-12 page-header">
                            <h2 class="text-uppercase">About us:</h2>
                            <hr class="block-divider block-divider--short block-divider--white">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="about">
                                <p>We are a company with a clear plan. We want to make it possible for other companies to focus on their main business, the core of their company! 
                                What would you say if you got the offer to have more time for exactly what you want to do, at the same time you get to pay less than what you yourself cost per hour in your company or workplace? From what I read, it is actually a clear win and is a clear advantage. Connect you and your company today!</p>
                                <p>We are a work team that all have their areas of expertise. We have extensive experience and knowledge, and together we form effective and sustainable solutions for you as a customer.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- /.About -->

    <!-- Contact -->
    <div id="contact" class="container-wrapper container-color">
        <div class="container container-contact content-container">
            <section class="contact">
                <div class="row">
                    <div class="col-12 page-header">
                        <h3>
                            We are always here for you<br>
                            feel free to call us or just<br>
                            send us a messenger here right now<br>
                        </h3>   
                        <h5>
                            (We answer in 24 hours)
                        </h5>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form id="form" name="form" method="get" action=" ">
                            <label for="name" class="form-label">Name*:</label>
                            <input type="text" class="form-control" name="contact-name" id="contact-name" placeholder="Enter name" required/>
                            <label for="epost" class="form-label">E-mail*:</label>
                            <input type="text" class="form-control" name="contact-epost" id="contact-epost" placeholder="Enter e-mail" required/>
                            <label for="message" class="form-label">Message:</label>
                            <textarea class="form-control" name="contact-message" id="contact-message" cols="45" rows="5" ></textarea>
                            <br>
                            <input type="submit" class="btn btn-sm btn-dark" name="send" id="send" value="Send" />
                        </form>
                        <br>
                        <div class="row">
                            <div class="col">
                                <div class="about">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64158.442240760836!2d17.576047513809517!3d59.83333997266709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbfb8532ab8d%3A0xaa4fe90a85820807!2sUppsala!5e0!3m2!1ssv!2sse!4v1690273476458!5m2!1ssv!2sse" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.Contact -->

    <!-- Copyright -->
    <footer class="footer-container">
        <div class="text-center p-1" style="background-color: #D2D1D1;">
           <p class="text-black"> © 2023 Sara Mentzer. Only for educational purpose.</p>
           <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3"></i></a>
           <a href="https://www.twitter.com/"><i class="fab fa-twitter-square ms-3"></i></a>
           <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3"></i></a>
           <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3"></i></a>
    <!-- Copyright -->
    </footer>

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 
</body>
</html>