{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Home{% endblock %}
{% block content %}

    <!-- About -->
    <div id="about" class="container-about container-wrapper">
        <div class="container content-container">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                </div>
            </div>
            <div class="container-box">
                <section class="about">
                    <div class="row">
                        <div class="col-12 page-header">
                            <h2 class="text-uppercase">About us:</h2>
                            <hr class="block-divider block-divider--short block-divider--white">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="about">
                                <p>We are a company with a clear plan. We want to make it possible for other companies to focus on their main business, the core of their company! 
                                What would you say if you got the offer to have more time for exactly what you want to do, at the same time you get to pay less than what you yourself cost per hour in your company or workplace? From what I read, it is actually a clear win and is a clear advantage. Connect you and your company today!</p>
                                <p>We are a work team that all have their areas of expertise. We have extensive experience and knowledge, and together we form effective and sustainable solutions for you as a customer.</p>
                                </p>
                                <img src="{% static 'images/Team.jpg' %}" class="card-img-top" "picture1">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- /.About -->

    {% endblock %}