{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Bookings{% endblock %}
{% block content %}

    <!-- Bookings -->
    <div id="services" class="container-wrapper">
        <div class="container container-services content-container">
            <section class="services">
                <div class="row">
                    <div class="col-12 page-header">
                        <br>
                        <h2 class="text-uppercase">My bookings:</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Service</th>
                                    <th scope="col">Start</th>
                                    <th scope="col">End</th>
                                    <th scope="col">Confirmed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <th scope="row">{{ booking.id }}</th>
                                    <td><a href="/booking/edit/{{ booking.id }}">{{ booking.service.name }}</a> </td>
                                    <td>{{ booking.startdate|date:'Y-m-d H:i' }}</td>
                                    <td>{{ booking.enddate|date:'Y-m-d H:i' }}</td>
                                    <td>{{booking.confirmed|date:'Y-m-d H:i'|default:"Not confirmed"}}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">You have no bookings</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <a href="/booking/add" class="btn btn-secondary">Add Booking</a>
            </section>
    <!-- /.Services -->
        </div>
    </div>

    <!-- Contact -->
    <div id="contact" class="container-wrapper">
        <div class="container contaibner-contact content-container">
            <section class="contact">
                <div class="row">
                    <div class="col-12 page-header">
                        <h4>We are here for you if there are any problems. <br>
                        Feel free to contact us if there is be any problem:</h4>
                        <div class="row">
                            <div class="col">
                                <form id="form" name="form" onsubmit="return sendMail(this);">
                                    <label for="contact_name" class="form-label">Name*:</label>
                                    <input type="text" class="form-control" name="contact_name" id="contact_name" placeholder="Enter name" required/>
                                    <label for="contact_mail" class="form-label">E-mail*:</label>
                                    <input type="text" class="form-control" name="contact_mail" id="contact_mail" placeholder="Enter e-mail" required/>
                                    <label for="contact_message" class="form-label">Message:</label>
                                    <textarea class="form-control" name="contact_message" id="contact_message" cols="45" rows="5" ></textarea>
                                    <br>
                                    <input type="submit" class="btn btn-sm btn-dark" name="send" id="send" value="Send" />
                                </form>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="about">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="about">
                        </div>
                    </div>
                </div>
            </section>
    <!-- /.Contact -->
        </div>
    </div>
    {% endblock %}