{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Edit booking{% endblock %}
{% block content %}

    <div class="container container-wrapper box">
        <div class="row">
            <div class="col-12 page-header">
                <h2 class="text-uppercase">Edit a booking</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            {% if error|length > 0 %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endif %}
                            <p>
                                <button class="btn btn-info" type="submit">Save booking</button>
                                {% if user.is_staff %}
                                <a class="btn btn-success" href="/booking/confirm/{{ form.instance.pk }}">Confirm booking</a>
                                {% endif %}
                                <a class="btn btn-danger" href="/booking/delete/{{ form.instance.pk }}">Delete booking</a>
                                <a class="btn btn-outline-dark" href="/booking/">Cancel</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", function () {
            flatpickr(".datetimefield", {
                enableTime: true,
                enableSeconds: false,
                minDate: "today",
                dateFormat: "Y-m-d H:i",
            });
        });

    </script>
{% endblock %}