{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Home{% endblock %}
{% block content %}


    <div class="container-fluid callout-container">
        <!-- Callout -->
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12">
                <section class="callout jumbotron text-center">
                    <h1 class="jumbotron-header">Digital assistance. <p></p> As an employee but without the risk and cost of one.</h1>
                    <hr class="block-divider block-divider--orange">
                    <p class="lead">Sign up and make your first booking right now!
                        <s class="d-none d-sm-inline"> €50.00 / hour</s>
                        <span class="d-inline d-sm-none"><br></span>
                        <strong><mark>€45.00 / hour</mark></strong>
                    </p>
                    {% if user.is_authenticated %}
                    {% else %}
                    <a href="/accounts/login/" class="btn btn-lg btn-success">Sign Up!</a>
                    {% endif %}
                </section>
            </div>
        </div>
        <!-- /.callout -->
    </div>


    {% endblock %}