{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Add booking{% endblock %}
{% block content %}

    <div class="container container-wrapper box">
        <div class="row">
            <div class="col-12 page-header">
                <h2 class="text-uppercase">{{ request.user.username }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <form method="POST" ">
                        {% csrf_token %}
                        
                        {{ user }}

                        {{ profile }}
                        <div>
                            {% if error|length > 0 %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endif %}
                            <p>
                                <button class="btn btn-info" type="submit">Save</button>
                                <a class="btn btn-outline-dark" href="/booking/">Cancel</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}