{% extends "base.html" %}
{% load static %}
{% block title %}WeSeeU | Home{% endblock %}
{% block content %}


    <!--/.Feature-services-->
    <div id="services" class="container-wrapper container-service container-color">
        <div class="container features-container content-container">
            <section class="features">
                <div class="row">
                    <div class="col-12 page-header">
                        <h2 class="text-uppercase">What we can do for you:</h2>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/Eko-admin1.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Economy & admin</h3>
                            <ul>
                                <li>We can support you whit that economy you dont want to handle. We offer support on many different things when it comes to economy. And for you administrations that just take time from your things you really wanna do, we suppiort that to!</li>
                                <li>We can easily familiarize ourselves with your financial flow.</li>
                                <li>We can easily familiarize ourselves with your financial flow.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/marketing1.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Marketing</h3>
                            <ul>
                                <li>We can provide you with communications to costumer, write on social media and coash and support you whit all sale info you need to do.</li>
                                <li>Write on social media </li>
                                <li>coash and support you whit all sale info you need to do.</li>
                                <li>Scale up your company by SEO and marketing solutions</li>
                                <li>Scale up your company by SEO</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <img src="{% static 'images/IT-sulotion.jpg' %}" class="card-img-top" alt="picture1">
                        <br>
                        <div class="feature">
                            <br>
                            <h3>Solutions</h3>
                            <ul>
                                <li>company now need to update their IT sulotions to reach out to their costumers, but many company dosent know how to do it. We provide you whit the higest expertice in this things! We can computers</li>
                                <li>If you need someone to administratet your </li>
                                <li>Fullstack devolopemnt and teaching out to your emplyeds</li>
                                <li>Set up new dataenvoirements</li> 
                                <li>Handle your support questions</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.features -->
        </div>
    </div>
    {% endblock %}